<button {{ attributes.addClass('screen-capture btn btn-light') }}><i class="bi bi-camera"></i> {{ 'Capture'|t }}</button>
<div class="form-managed-file__meta-wrapper">
  <div class="form-managed-file__meta">
    <div class="form-managed-file__image-preview image-preview screenshot-preview">
      <div id="{{ id_image }}" class="image-preview__img-wrapper"></div>
    </div>
  </div>
</div>
